@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #000;
    /* black background */
    color: #fff;
    /* white text */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 10px 20px;
}

.logo {
    height: 40px;
}

.github-button {
    background: #fff;
    color: #000;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.content {
    height: calc(100vh - 50px);
    padding: 0;
    margin: 0;
}

.title {
    margin-bottom: 30px;
}

.main-plot {
    margin: auto;
    width: 80%;
}

button#restart-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
}
